html, body {
  margin: 0;
  height: 100%
}

body {
  display: flex;
  justify-content: center;
  font-family: "Helvetica", sans-serif;
  align-items: center;
}

section {
  margin: 0.5em;
}

#student-info {
  padding: 0 1em;
}

#data-input {
  padding: 2em 1em;
  border: 1px solid #000000;
}

#data-input > h1 {
  margin-top: 0;
}

#data-input > label {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0 0;
}

.fields {
  margin: 0.5em 0;
}

#input-size, #select-font, #enter-text {
  padding: 0.2em;
}

#headline-display {
  padding: 1em;
  border: 1px solid #000000;
}

#display {
  text-align: center;
  font-size: 32px;
}

#data-output {
  padding: 0 1em;
}